# Actividad de lectura de archivos.
## Juan Manuel Gonz√°lez Ascencio - A00572003

In [2]:
import pandas as pd

In [6]:
#Leer el archivo encuesta.txt

encuesta = pd.read_csv('encuesta.txt', delim_whitespace= True,)
encuesta

                                  ID  asistio  Tarea  Comportamiento Pago
0    cef3615d61b202f1dc794ef2746df14        1    1.0             0.0   si
1    323e5a13644d18185c743c241407754        0    0.0             NaN   no
2    b29a107e5cd062e654a63764157461d        0    0.0             NaN   no
3   04a11e4bcb573a1261eb0d9948d32637        1    0.0             0.0   si
4    9368291c3d5d5f5c8cdb1a575e18bec        1    0.0             0.0   si
5    dd0e77eab270e4b67c19b0d6bbf621b        0    0.0             NaN   no
6    7599c0aa419b59fd11ffede98a3665d        0    0.0             NaN   si
7    6dff182b452487f07a47596f314bddc        0    1.0             NaN   si
8    9dc233fed1c6eb2432672ab4bb39249        0    0.0             NaN   no
9   265fa78a1fb2409ff5416aec3c4f950d        1    0.0             0.0   si
10  3b461f95fe50be35b927c255b3f7dc3a        1    1.0             1.0   no
11  e786f1288887afb309eb913d28ffd6b0        1    0.0             0.0   si
12   10c74fd18bddfb3e26c1878a853e7f8        1    0.0             0.0   si
13   13b67c51d575bf29827debf0618b445        1    0.0             0.0   si
14   1f641566628797bf0f811701e818b2c        1    1.0             0.0   si
15  1ae10dc0d6fed06e8954af5f313cedf1        0    0.0             NaN   si
16  7dfbad6a32c7477604dea655327f20a2        0    0.0             NaN   si
17  b953218838a2f7057ec179cae0cf83ad        1    0.0             1.0   si
18  87fcfe4315ee8a3fb554d8bf608cb2ac        1    0.0             0.0   si
19  9b4935e514bdc9b66a35a085c229775c        1    1.0             0.0   si
20  8cf2a0f6b368a4a42572f775df0f5f90        1    1.0             1.0   no
21  b3d1716309461078c892edcd68db7d4c        1    0.0             0.0   si
22  be38b0df499caf723af579aa6b173b0a        0    1.0             NaN   no
23  97d2a0572f74acd8c4683ce7b72039db        1    1.0             0.0   si
24  4bfe54e669aa8eaf4c9db1b809f3b511        0    0.0             NaN   no
25  36f9d95975bfd2c89cfe75baca2d58d2        1    0.0             0.0   si
26  e886db962a67fdf6cddbd4e85ea5d6e6        0    1.0             NaN   si
27  212332278cfd07d49c4df986e6fbda1e        1    1.0             0.0   si
28  fb120d2658407cbedfd9f1136c94ac61        1    0.0             1.0   si
29  df891ef669fb23701f6622f14843bda2        0    1.0             NaN   si

Convertimos las variables que contengan 0 u 1 a valores booleanos

In [7]:
df = pd.read_csv('encuesta.txt',
                 delim_whitespace=True,
                 dtype={'asistio': bool, 'Tarea': bool, 'Pago': bool}, true_values=['si'], false_values=['no'])
df

                                  ID  asistio  Tarea  Comportamiento   Pago
0    cef3615d61b202f1dc794ef2746df14     True   True             0.0   True
1    323e5a13644d18185c743c241407754    False  False             NaN  False
2    b29a107e5cd062e654a63764157461d    False  False             NaN  False
3   04a11e4bcb573a1261eb0d9948d32637     True  False             0.0   True
4    9368291c3d5d5f5c8cdb1a575e18bec     True  False             0.0   True
5    dd0e77eab270e4b67c19b0d6bbf621b    False  False             NaN  False
6    7599c0aa419b59fd11ffede98a3665d    False  False             NaN   True
7    6dff182b452487f07a47596f314bddc    False   True             NaN   True
8    9dc233fed1c6eb2432672ab4bb39249    False  False             NaN  False
9   265fa78a1fb2409ff5416aec3c4f950d     True  False             0.0   True
10  3b461f95fe50be35b927c255b3f7dc3a     True   True             1.0  False
11  e786f1288887afb309eb913d28ffd6b0     True  False             0.0   True
12   10c74fd18bddfb3e26c1878a853e7f8     True  False             0.0   True
13   13b67c51d575bf29827debf0618b445     True  False             0.0   True
14   1f641566628797bf0f811701e818b2c     True   True             0.0   True
15  1ae10dc0d6fed06e8954af5f313cedf1    False  False             NaN   True
16  7dfbad6a32c7477604dea655327f20a2    False  False             NaN   True
17  b953218838a2f7057ec179cae0cf83ad     True  False             1.0   True
18  87fcfe4315ee8a3fb554d8bf608cb2ac     True  False             0.0   True
19  9b4935e514bdc9b66a35a085c229775c     True   True             0.0   True
20  8cf2a0f6b368a4a42572f775df0f5f90     True   True             1.0  False
21  b3d1716309461078c892edcd68db7d4c     True  False             0.0   True
22  be38b0df499caf723af579aa6b173b0a    False   True             NaN  False
23  97d2a0572f74acd8c4683ce7b72039db     True   True             0.0   True
24  4bfe54e669aa8eaf4c9db1b809f3b511    False  False             NaN  False
25  36f9d95975bfd2c89cfe75baca2d58d2     True  False             0.0   True
26  e886db962a67fdf6cddbd4e85ea5d6e6    False   True             NaN   True
27  212332278cfd07d49c4df986e6fbda1e     True   True             0.0   True
28  fb120d2658407cbedfd9f1136c94ac61     True  False             1.0   True
29  df891ef669fb23701f6622f14843bda2    False   True             NaN   True

In [23]:
%%time
#convertir a csv

df = pd.read_csv('data.csv', delim_whitespace=True, )
df

CPU times: user 356 ms, sys: 19.6 ms, total: 375 ms
Wall time: 382 ms

,,,,,Age|Sex|ID|Race|Country|Education|Education-Num|Marital,Status|Relationship
39.0|,Male|49084|,White|,United-States|,Bachelors|13.0|,Never-married|,Not-in-family
50.0|,Male|68553|,White|,United-States|,Bachelors|13.0|,Married-civ-spouse|,Husband
38.0|,Male|143654|,White|,United-States|,HS-grad|9.0|,Divorced|,Not-in-family
53.0|,Male|41510|,Black|,United-States|,11th|7.0|,Married-civ-spouse|,Husband
28.0|,Female|195025|,Black|,Cuba|,Bachelors|13.0|,Married-civ-spouse|,Wife
...,...,...,...,...,...,...
39.0|,Female|735617153|,White|,United-States|,Bachelors|13.0|,Divorced|,Not-in-family
64.0|,Male|1131807446|,Black|,United-States|,HS-grad|9.0|,Widowed|,Other-relative
38.0|,Male|781422087|,White|,United-States|,Bachelors|13.0|,Married-civ-spouse|,Husband
44.0|,Male|161771296|,Asian-Pac-Islander|,United-States|,Bachelors|13.0|,Divorced|,Own-child
35.0|,Male|1344995623|,White|,United-States|,Bachelors|13.0|,Married-civ-spouse|,Husband